html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 400px;
}
.title{
  margin-top: 4vw;
  text-align: center;
}
#menu-toggle{
  padding-top: 12%;
  font-size: 1.5vw;
}
.imgs{
  display: inline-block;
  margin:1vw;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
.pac-container {
  font-family: Roboto;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}